<div id="mainContainer">
  <div class="anotherContainer">
    <div class="container">
      <h1>Connect with us</h1>
      <p>
        We would love to respond to your quaries and help you succeed. Feel free
        to get in touch with us.
      </p>
      <div class="contact-box d-flex">
        <div class="contact-left">
          <h3>Reach out to us!</h3>
          <form>
            <div class="form-group">
              <input type="text" class="form-control my-3" id="name" placeholder="Enter name" required />
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control col-md-3 my-3" id="phone" name="phone" style="padding-left: 10px">
                      <option value="">Select a Country</option>
                      <option value="93">Afghanistan +93</option>
                      <option value="358">Aland Islands +358</option>
                      <option value="355">Albania +355</option>
                      <option value="213">Algeria +213</option>
                      <option value="1684">American Samoa +1684</option>
                      <option value="91">India +91</option>
                      <option value="972">Israel +972</option>
                      <option value="39">Italy +39</option>
                      <option value="1876">Jamaica +1876</option>
                      <option value="81">Japan +81</option>
                      <option value="44">Jersey +44</option>
                      <option value="962">Jordan +962</option>
                      <option value="7">Kazakhstan +7</option>
                      <option value="254">Kenya +254</option>
                      <option value="686">Kiribati +686</option>
                      <option value="850">
                        Korea, Democratic People's Republic of +850
                      </option>
                      <option value="82">Korea, Republic of +82</option>
                      <option value="383">Kosovo +383</option>
                      <option value="965">Kuwait +965</option>
                      <option value="996">Kyrgyzstan +996</option>
                      <option value="856">
                        Lao People's Democratic Republic +856
                      </option>
                      <option value="371">Latvia +371</option>
                      <option value="961">Lebanon +961</option>
                      <option value="266">Lesotho +266</option>
                      <option value="231">Liberia +231</option>
                      <option value="218">Libyan Arab Jamahiriya +218</option>
                      <option value="423">Liechtenstein +423</option>
                      <option value="370">Lithuania +370</option>
                      <option value="352">Luxembourg +352</option>
                      <option value="853">Macao +853</option>
                      <option value="389">
                        Macedonia, the Former Yugoslav Republic of +389
                      </option>
                      <option value="261">Madagascar +261</option>
                      <option value="265">Malawi +265</option>
                      <option value="60">Malaysia +60</option>
                      <option value="960">Maldives +960</option>
                      <option value="223">Mali +223</option>
                      <option value="356">Malta +356</option>
                      <option value="692">Marshall Islands +692</option>
                      <option value="596">Martinique +596</option>
                      <option value="222">Mauritania +222</option>
                      <option value="230">Mauritius +230</option>
                      <option value="262">Mayotte +262</option>
                      <option value="52">Mexico +52</option>
                      <option value="691">
                        Micronesia, Federated States of +691
                      </option>
                      <option value="373">Moldova, Republic of +373</option>
                      <option value="377">Monaco +377</option>
                      <option value="976">Mongolia +976</option>
                      <option value="382">Montenegro +382</option>
                      <option value="1664">Montserrat +1664</option>
                      <option value="212">Morocco +212</option>
                      <option value="258">Mozambique +258</option>
                      <option value="95">Myanmar +95</option>
                      <option value="264">Namibia +264</option>
                      <option value="674">Nauru +674</option>
                      <option value="977">Nepal +977</option>
                      <option value="31">Netherlands +31</option>
                      <option value="599">Netherlands Antilles +599</option>
                      <option value="687">New Caledonia +687</option>
                      <option value="64">New Zealand +64</option>
                      <option value="505">Nicaragua +505</option>
                      <option value="227">Niger +227</option>
                      <option value="234">Nigeria +234</option>
                      <option value="683">Niue +683</option>
                      <option value="672">Norfolk Island +672</option>
                      <option value="1670">
                        Northern Mariana Islands +1670
                      </option>
                      <option value="47">Norway +47</option>
                      <option value="968">Oman +968</option>
                      <option value="92">Pakistan +92</option>
                      <option value="680">Palau +680</option>
                      <option value="970">
                        Palestinian Territory, Occupied +970
                      </option>
                      <option value="507">Panama +507</option>
                      <option value="675">Papua New Guinea +675</option>
                      <option value="595">Paraguay +595</option>
                      <option value="51">Peru +51</option>
                      <option value="63">Philippines +63</option>
                      <option value="64">Pitcairn +64</option>
                      <option value="48">Poland +48</option>
                      <option value="351">Portugal +351</option>
                      <option value="1787">Puerto Rico +1787</option>
                      <option value="974">Qatar +974</option>
                      <option value="262">Reunion +262</option>
                      <option value="40">Romania +40</option>
                      <option value="7">Russian Federation +7</option>
                      <option value="250">Rwanda +250</option>
                      <option value="590">Saint Barthelemy +590</option>
                      <option value="290">Saint Helena +290</option>
                      <option value="1869">Saint Kitts and Nevis +1869</option>
                      <option value="1758">Saint Lucia +1758</option>
                      <option value="590">Saint Martin +590</option>
                      <option value="508">
                        Saint Pierre and Miquelon +508
                      </option>
                      <option value="1784">
                        Saint Vincent and the Grenadines +1784
                      </option>
                      <option value="684">Samoa +684</option>
                      <option value="378">San Marino +378</option>
                      <option value="239">Sao Tome and Principe +239</option>
                      <option value="966">Saudi Arabia +966</option>
                      <option value="221">Senegal +221</option>
                      <option value="381">Serbia +381</option>
                      <option value="381">Serbia and Montenegro +381</option>
                      <option value="248">Seychelles +248</option>
                      <option value="232">Sierra Leone +232</option>
                      <option value="65">Singapore +65</option>
                      <option value="721">Sint Maarten +721</option>
                      <option value="421">Slovakia +421</option>
                      <option value="386">Slovenia +386</option>
                      <option value="677">Solomon Islands +677</option>
                      <option value="252">Somalia +252</option>
                      <option value="27">South Africa +27</option>
                      <option value="500">
                        South Georgia and the South Sandwich Islands +500
                      </option>
                      <option value="211">South Sudan +211</option>
                      <option value="34">Spain +34</option>
                      <option value="94">Sri Lanka +94</option>
                      <option value="249">Sudan +249</option>
                      <option value="597">Suriname +597</option>
                      <option value="47">Svalbard and Jan Mayen +47</option>
                      <option value="268">Swaziland +268</option>
                      <option value="46">Sweden +46</option>
                      <option value="41">Switzerland +41</option>
                      <option value="963">Syrian Arab Republic +963</option>
                      <option value="886">
                        Taiwan, Province of China +886
                      </option>
                      <option value="992">Tajikistan +992</option>
                      <option value="255">
                        Tanzania, United Republic of +255
                      </option>
                      <option value="66">Thailand +66</option>
                      <option value="670">Timor-Leste +670</option>
                      <option value="228">Togo +228</option>
                      <option value="690">Tokelau +690</option>
                      <option value="676">Tonga +676</option>
                      <option value="1868">Trinidad and Tobago +1868</option>
                      <option value="216">Tunisia +216</option>
                      <option value="90">Turkey +90</option>
                      <option value="7370">Turkmenistan +7370</option>
                      <option value="1649">
                        Turks and Caicos Islands +1649
                      </option>
                      <option value="688">Tuvalu +688</option>
                      <option value="256">Uganda +256</option>
                      <option value="380">Ukraine +380</option>
                      <option value="971">United Arab Emirates +971</option>
                      <option value="44">United Kingdom +44</option>
                      <option value="1">United States +1</option>
                      <option value="1">
                        United States Minor Outlying Islands +1
                      </option>
                      <option value="598">Uruguay +598</option>
                      <option value="998">Uzbekistan +998</option>
                      <option value="678">Vanuatu +678</option>
                      <option value="58">Venezuela +58</option>
                      <option value="84">Viet Nam +84</option>
                      <option value="1284">
                        Virgin Islands, British +1284
                      </option>
                      <option value="1340">Virgin Islands, U.s. +1340</option>
                      <option value="681">Wallis and Futuna +681</option>
                      <option value="212">Western Sahara +212</option>
                      <option value="967">Yemen +967</option>
                      <option value="260">Zambia +260</option>
                      <option value="263">Zimbabwe +263</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="contactNumber" name="contactNumber"
                      placeholder="Contact No." />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control my-3" id="email" aria-describedby="emailHelp"
                placeholder="Enter email" required />
            </div>

            <div class="form-group my-3">
              <select class="form-control" id="phone" name="phone" style="padding-left: 10px">
                <option value="">Choose services</option>
                <option value="1">Hospital Bed Booking</option>
                <option value="2">Doctor Appointment</option>
                <option value="3">Regular Heath Checkup</option>
                <option value="4">Cost Containment</option>
              </select>
            </div>

            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px"></textarea>
              <label for="floatingTextarea2">Enter your message</label>
            </div>

            <div class="form-group">

              <button type="button" class="btn btn-outline-primary p-2 my-3" style=" width: 100%;">
                Submit
              </button>
            </div>
          </form>
        </div>
        <div class="contact-right">
          <h3>Reach Us</h3>
          <div class="mx-auto my-3">
            <p>
              <img src="../../assets/compass.svg" class="me-1" />
              <a href="https://maps.app.goo.gl/SUsbjhntBy6CGJxm8" style="text-decoration: none; color: black">SPARSH
                Super Speciality Hospital, 146, Infantry Rd, Vasanth
                Nagar, Bengaluru, Karnataka 560001</a>
            </p>
            <p>
              <img src="../../assets/envelope.svg" class="me-1" />
              <a href="careflow@itcinfotech.com" style="color: black">careflow@itcinfotech.com</a>
            </p>
            <p>
              <img src="../../assets/person-rolodex.svg" class="me-1" />
              +91 6666666666
            </p>
            <p>
              <img src="../../assets/person-rolodex.svg" class="me-1" />
              +91 4444444444
            </p>
          </div>

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248820.55950500342!2d77.30635888671873!3d12.98328250000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1662b5e4f303%3A0x83e17841b11f5631!2sSPARSH%20Hospital!5e0!3m2!1sen!2sin!4v1695713056886!5m2!1sen!2sin"
            style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            id="maps"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
