<div class="row my-2">
  <!-- <div class="col-sx-12 col-lg-4 mx-3 my-2">
    <img src="../../../assets/consult.jpg" alt="" />
  </div> -->
  <div class="col-sx-12 col-lg-6">
    <div class="card">
      <img src="../../../assets/consult.jpg" alt="" />
    </div>
  </div>

  <div class="col-sx-12 col-lg-6">
    <div class="card" style="height: 100%">
      <div class="card-body">
        <p class="card-title" style="text-align: center">
          Need an appointment?
        </p>
        <p class="card-text">
          follow the simple steps below and get your appointment fixed.
        </p>
        <ul>
          <li>Register/Login</li>
          <li>Select State/Hospital</li>
          <li>Select Mode of Appointment</li>
          <li>Select Appointmnet Type</li>
          <li>Select Depertment</li>
          <li>Select Date of Appointment</li>
          <li>Get Confirmation on SMS/Email</li>
        </ul>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="row mx-2 my-2">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Number of Hospitals</p>
              <div class="card-text row">
                <div class="col"><i class="fa-regular fa-hospital"></i></div>
                <div class="col">
                  <em><b>500</b></em>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Online Appointment Taken Today</p>
              <div class="card-text row">
                <div class="col"><i class="fa-regular fa-hospital"></i></div>
                <div class="col">
                  <em><b>200</b></em>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mx-2 my-2">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Total Teleconsultation</p>
              <div class="card-text row">
                <div class="col"><i class="fa-regular fa-hospital"></i></div>
                <div class="col">
                  <em><b>250</b></em>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Total Online Appointments</p>
              <div class="card-text row">
                <div class="col"><i class="fa-regular fa-hospital"></i></div>
                <div class="col">
                  <em><b>300</b></em>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6"></div>
  </div>
  </div>
  