<div class="container">
  <div class="row">
    <div class="col-sx-12 col-lg-3">
      <div class="card" style="height: 100px;">
        <div class="card-body">
          <p class="card-title">Number of Hospitals:</p>
          <div class="card-text row">
            <div class="col"><i class="fa-regular fa-hospital"></i></div>
            <div class="col">
              <em><b>200</b></em>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sx-12 col-lg-3">
      <div class="card" style="height: 100px;">
        <div class="card-body">
          <p class="card-title">Online Appointment Taken :</p>
          <div class="card-text row">
            <div class="col"><i class="fa-regular fa-hospital"></i></div>
            <div class="col">
              <em><b>450</b></em>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sx-12 col-lg-3">
      <div class="card" style="height: 100px;">
        <div class="card-body">
          <p class="card-title">Total Teleconsultation:</p>
          <div class="card-text row">
            <div class="col"><i class="fa-solid fa-video"> </i></div>
            <div class="col">
              <em><b>150</b></em>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sx-12 col-lg-3">
      <div class="card" style="height: 100px;">
        <div class="card-body">
          <p class="card-title">Total Online Appointments:</p>
          <div class="card-text row">
            <div class="col">
              <i class="fa-regular fa-hospital"></i>
            </div>
            <div class="col">
              <em><b>1000</b></em>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="card mx-2 my-2 col-lg-8" style="width: 100%">
    <div class="card-body">
      <div class="card-title">TODAY'S APPOINTMENT STATISTICS</div>
      <p style="color: #9a9a9a">24 Hours Performance</p>
      <img src="../../../assets/stastic1.png" alt="" style="width: 100%" />
    </div>
  </div>
</div>

<div class="container">
  <div class="card mx-2 my-2 col-lg-8" style="width: 100%">
    <div class="card-body">
      <div class="card-title">ONLINE APPOINTMENT TAKEN DURING LAST 20 DAYS</div>

      <img src="../../../assets/stastic2.png" alt="" style="width: 100%" />
    </div>
  </div>
</div>
