
<div id="carouselExampleFade" class="carousel slide carousel-fade d-flex align-content-end" data-bs-ride="carousel">
  <!-- div for images -->
  <div class="carousel-inner mx-4" style="width: 500px; height: fit-content;">
      <div class="carousel-item active">
          <img src="https://tse4.mm.bing.net/th/id/OIP.SQ6xhhDikVG9Y8RbKGQSpQHaE8?pid=ImgDet&rs=1" class="d-block" alt="..." height="306" width="474">
      </div>
      <div class="carousel-item">
          <img src="https://th.bing.com/th/id/R.5a54671fe11534ce0aa107ed2680bf02?rik=tgY9puHvtTwGYQ&riu=http%3a%2f%2fstatic-28.sinclairstoryline.com%2fresources%2fmedia%2fbe63639c-ed11-4c66-b0fd-5c1dff583e16-large16x9_Patient_Room_Head.jpg%3f1470807188475&ehk=C97XAe%2feWYgkPsNMscYFsP3XQ7HgXuCkOR97oMsD8KI%3d&risl=&pid=ImgRaw&r=0" class="d-block" alt="..." height="306" width="474">
      </div>
      <div class="carousel-item">
          <img src="https://tse3.mm.bing.net/th/id/OIP.x772sROBEPXirvxdilArFwHaEy?pid=ImgDet&rs=1" class="d-block" alt="..." height="306" width="474">
      </div>
      <!-- Navigation buttons inside the carousel -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>

  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Twin Beds- <span class="rupee-symbol">&#8377;</span><span class="amount">3200</span></h2>
            <div class="d-flex flex-column ">
                <div><i class="fas fa-bed"></i>-2 Single Beds</div>
                <div><i class="fas fa-hand-holding-medical"></i> -24/7 Service</div>
                <div><i class="fas fa-utensils"></i>-Include 1 Meal</div>
                <div><i class="fas fa-wifi"></i>-Wifi</div>
                <button class="btn btn-outline-success my-3 align-content-center" type="button" (click)="book()">Book now</button>
            </div>

      </div>
  </div>
</div>
