<div *ngIf="isLoading; else data">
  <div class="containerSpinner">
    <div class="spinner"></div>
  </div>
</div>

<ng-template #data>
  <div class="row">
    <h1 style="text-align: center"><em>Room allocation requests</em></h1>
    <div class="col-sx-12 col-lg-6">
      <app-display-rooms (sendEmitter)="receiveRoomNo($event)"></app-display-rooms>
    </div>
    <div class="col-lg-6">
      <div *ngFor="let data of allocationData" id="main" class="card my-2 mx-5">
        <div class="card-body">
            <h4 class="card-title font-weight-bold"> Name Of Patient : {{data.pfname}} {{data.plname}}</h4>
            <p class="card-text">Patient ID : {{data.pid}}</p>
            <p class="card-text">Room Category : {{data.roomCategory}}</p>
            <button class="btn btn-outline-primary mx-2 my-2" (click)="approve(data.rid,data.pid,data.id,data.pfname,data.plname)" [disabled]="!vacantRoomNo || !(roomCategory==data.rid)">Approve</button>
            <button class="btn btn-outline-danger mx-2 my-2 " (click)="deny(data.id,data.pid)">Deny</button>
        </div>
      </div>

      <div class="container " id="emptyGIF" *ngIf="allocationData.length==0">
          <h3 style="text-align: center; color: grey; font-family: 'Shantell Sans', cursive; font-weight: bolder;">No pending requests</h3>
          <!-- <h3 style="text-align: center;">No request yet</h3> -->


        </div>

    </div>
  </div>
</ng-template>
