<div class="container">

<div class="row">
  <div class="col-lg-6 col-sx-12 my-2 ">
    <div class="card">
      <img
        src="https://tse1.mm.bing.net/th/id/OIP.ICM5LqnzQypra5z0I31okwHaHX?pid=ImgDet&rs=1"
        class="img-fluid rounded-start"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Book your Room</h5>
        <p class="card-text">
          Welcome to our hospital's room booking platform. Easily select from
          private, General, or VIP, check availability, and choose your dates.
          We prioritize your comfort and well-being during your stay.
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-sx-12 my-2 ">
    <div class="card">
      <img
      src="https://tse4.mm.bing.net/th/id/OIP.VwVwOTwgvEjTfHgcoNqRFAHaFj?pid=ImgDet&rs=1"
      class="img-fluid rounded-start"
      alt="..."
      />

      <div class="card-body">
        <h5 class="card-title">Discharge Request</h5>
        <p class="card-text">
          Ready to go home? Request your discharge from the hospital room with
          ease. Simply visit our online portal, fill out the discharge form, and
          our team will ensure a smooth departure process.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row my-3 ">
  <div class="col-lg-6 col-sx-12 my-2 ">
    <div class="card">
      <img
        src="https://media-exp1.licdn.com/dms/image/C4D0BAQG0jS-PyPSqhw/company-logo_200_200/0/1627547851433?e=2159024400&v=beta&t=WUPmmwELiTvxJEp9-cACaGsBiV2p15G8LtKDjy4Mkts"
        class="img-fluid rounded-start"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Easy Transfer</h5>
        <p class="card-text">
          If you need to request a room transfer during your hospital stay,
          we're here to assist you. Simply fill out the transfer request form on
          our website. Our dedicated staff will promptly review your request and
          work to accommodate your needs.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sx-12 my-2 ">
    <div class="card">
      <img
        src="https://tse3.mm.bing.net/th/id/OIP.waOEn1hnWRtS-sPy7dJwiAHaEk?pid=ImgDet&rs=1"
        class="img-fluid rounded-start"
        alt="..."
        height="200"
        width="200"
      />

      <div class="card-body">
        <h5 class="card-title">Caring Hands</h5>
        <p class="card-text">
          As dedicated caretakers for patients, we provide compassionate support
          and assistance at every step of their hospital journey. Our team is
          committed to ensuring the comfort, safety, and well-being of your
          loved ones during their hospital stay.
        </p>
      </div>
    </div>
      </div>
  </div>
</div>
